{% extends 'base.html' %}

{% block navbar %}
    {% if request.user == topics.author %}
        <a class="nav-link active" aria-current="page" href="{% url 'webapp:topic_update' topics.pk %}"
           style="padding: 0; margin-top: 3px; margin-right: 20px">Обновить тему</a>
        <a class="nav-link active" aria-current="page" href="{% url 'webapp:topic_delete' topics.pk %}"
           style="padding: 0; margin-top: 3px; margin-right: 20px">Удалить тему</a>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h5>{{ topics.name }}<span
                style="margin-right: 50px"></span>{{ topics.created|date:"d-m-Y" }}<span
                style="margin-right: 50px"></span>{{ topics.author }}
        </h5>

        <a href="{% url 'webapp:answer_create' topics.pk %}" class="btn btn-primary" id="submit-link">Добавить</a>

        {% for a in topics.answers.all %}
            <div class="card" style="margin-top: 50px; margin-bottom: 50px">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{ a.author.avatar.url }}" class="object-fit-cover w-100 h-100" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ a.created|date:"d-m-Y H:i" }}</h5>
                            <p class="card-text">{{ a.text }}</p>
                            <a href="{% url 'accounts:profile' a.author.pk %}" class="card-text"
                               style="text-decoration: none; color: black">{{ a.author.username }}</a>
                            {% if user.is_authenticated and user == a.author %}
                                <a href="{% url 'webapp:answer_update' a.pk %}" class="card-text"
                                   style="text-decoration: none; color: black; margin-left: 40px">Изменить</a>
                                <a href="{% url 'webapp:answer_delete' a.pk %}" class="card-text"
                                   style="text-decoration: none; color: black; margin-left: 40px">Удалить</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="container" style="margin-bottom: 50px; align-items: center">
            {% if is_paginated %}
                {% include 'partial/pagination.html' %}
            {% endif %}
        </div>
    </div>
{% endblock %}
