{% extends 'base.html' %}

{% block title %}{{ user_obj.username }}{% endblock %}


{% block navbar %}

{% endblock %}


{% block content %}

        <div class="d-flex" style="margin-bottom: 60px; margin-top: 60px">
            <div class="mx-5 align-self-center">
                <div class="d-inline-block rounded-circle overflow-hidden" style="width: 130px; height: 130px; ">
                    <img src="{{ user_obj.avatar.url }}" class="object-fit-cover w-100 h-100" alt="...">
                </div>
            </div>

            <div class="mx-5 align-self-center">
                <div class="d-flex">
                    <h2 class="fw-lighter" style="font-size: 25px">{{ user_obj.username }}</h2>
                </div>

                <p class="fw-light">
                    <span class="me-5">Темы: {{ user_obj.topics.count }}</span>
                    <span class="me-5">Мои комментарии: {{ answer_count }}</span>
                </p>
                <p style="margin: auto">Имя: {{ user_obj.first_name }}</p>
                <p style="margin: auto">Почта: {{ user_obj.email }}</p>
            </div>
        </div>


        <div class="container mt-4">
        <h1 class="text-center mb-4">Темы пользователя {{ user_obj.username }}</h1>
        
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            {% for topic in user_obj.topics.all %}
                <div class="col">
                    <div class="card shadow-sm border-light h-100" style="border: solid 10px">
                        <div class="card-body">
                            <h5 class="card-title">{{ topic.name }}</h5>
                            <p class="card-text">{{ topic.content|slice:":100" }}{% if topic.content|length > 100 %}...{% endif %}</p>
                        </div>
                        <div class="card-footer text-muted">
                            <span>Создано: {{ topic.created|date:"d-m-Y" }}</span>
                            <span class="mx-2">|</span>
                            <span>Ответы: {{ topic.answers_count }}</span>
                        </div>
                        <a href="{% url 'webapp:topic_detail' topic.pk %}" class="btn btn-dark m-3">Подробнее</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}